* {
  box-sizing: border-box;
}

#user-header {
  text-align: center;
  padding-bottom: 20px;
}

.user {
  margin: auto;
  padding-top: 100px;
  line-height: 1.5;
  width: 80%;
}

#user-section {
  padding: 15px 30px;
  text-align: center;
  margin: auto;
  border: 1px solid black;
  width: 250px;
  height: 250px;
}

#existing-rooms {
  text-align: center;
  margin: auto;
}

#existing-rooms ul {
  list-style: none;
  padding: 0;
}