/* -------------------------------------
CSS reset
Is a short set of CSS rules that resets the styling of all HTML elements to a consistent baseline so the website will look the same on all browsers
*/


* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Nunito Sans;
  background-color: #E9E7DA;
  line-height: 1.5;
  /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
  box-sizing: border-box;
  /*reset Chrome user agent styles*/
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-before: 0px;
  -webkit-padding-after: 0px;
  -webkit-padding-start: 0px;
  -webkit-padding-end: 0px;
  /*reset Firefox user agent styles*/
  -moz-margin-before: 0px;
  -moz-margin-after: 0px;
  -moz-margin-start: 0px;
  -moz-margin-end: 0px;
  -moz-padding-before: 0px;
  -moz-padding-after: 0px;
  -moz-padding-start: 0px;
  -moz-padding-end: 0px;
  /*reset Internet Explorer user agent styles*/
  -ms-margin-before: 0px;
  -ms-margin-after: 0px;
  -ms-margin-start: 0px;
  -ms-margin-end: 0px;
  -ms-padding-before: 0px;
  -ms-padding-after: 0px;
  -ms-padding-start: 0px;
  -ms-padding-end: 0px;
  /*reset Opera user agent styles*/
  -o-margin-before: 0px;
  -o-margin-after: 0px;
  -o-margin-start: 0px;
  -o-margin-end: 0px;
  -o-padding-before: 0px;
  -o-padding-after: 0px;
  -o-padding-start: 0px;
  -o-padding-end: 0px;
}

/* -------------------------------------
General styles (General Module, wrapping around the modules below)
(the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules below (h2, h3, h4, h5, h6, p, a, ul, li))
*/

a {
  text-decoration: none;
  color: #49274A;
  /* color: #373F27;  */
  font-weight: 700;
}

li {
  list-style: none;
}

.strong {
  font-weight: 700;
}

input {
  border: 1px solid black;
  margin-bottom: 2px;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.title-style {
  font-family: Halant;
}

.center-align {
  text-align: center;
}

.form-title {
  text-align: left;
}

.error {
  font-size: .9em;
  color: red;
  text-align: center;
}

button:hover {
  background-color: #373F27;
  color: white;
}

button {
  border-radius: 3%;
  font-family: Halant;
  background-color: #636B46;
  color: white;
  display: block; 
  margin: auto;
  padding: 6px 10px;
  font-size: 1.2em;
  border: 1px solid black;
}

/* -------------------------------------
Header styles (Main Module)
(all the styles inside the < header > or < nav > tags)
*/

/* Nav */
.nav {
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #F2E085;
  border: 1px solid black;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* list-style: none; */
  padding: 0 5%;
}

/* -------------------------------------
Content styles (Main Module)
(all the styles inside the < sections > or < aside > tags)
*/

/* Landing */

.landing-title {
  font-size: 2em;
}

.landing-description {
  margin: auto;
  max-width: 350px;
  text-align: center;
  padding: 20px 0 30px 0;
}

.landing {
  height: 100vh;
  margin: auto;
  padding-top: 60px;
  width: 80%;
}

/* LoginForm */
.login {
  font-size: .9em;
  padding: 20px;
  text-align: center;
  margin: auto;
  border: 3px solid #636B46;
  width: 250px;
  height: 350px;
}

.login-legend {
  font-size: 1.2em;
  margin: 8px 0;
}
.login-button {
  margin-top: 10px;
}

.login-info p:first-child {
  padding: 8px 0;
}

.login-info p:nth-child(3) {
  padding: 8px 0;
}


/* Registration */
.registration {
  font-size: .9em;
  height: 100vh;
  margin: auto;
  padding-top: 100px;
  width: 80%;
}

.registration-form {
  padding: 30px 15px;
  text-align: center;
  margin: auto;
  border: 3px solid #636B46;
  width: 250px;
  height: 430px;
}

.registration-legend {
  font-size: 1.2em;
  margin: 8px 0;
}

.registration-button {
  margin-top: 10px;
}

.registration-form p {
  padding: 8px 0;
}

.password-rules {
  padding: 8px 0;
}

/* Room  */
.room {
  margin: auto;
  padding-top: 100px;
  width: 95%;
}

.flex-section {
  display: flex;
  flex-direction: column-reverse;
}

.right-div {
  width: 100%;
  text-align: center;
}

.right-div ul {
  margin: auto;
  text-align: left;
  width: 400px;
  list-style: none;
  padding: 20px;
  /* border: 1px solid black; */
}

/* Logbook */
.logbook {
  text-align: center;
  border: 1px solid black;
  width: 350px;
  height: 100%;
  margin: auto;
}

.logbook-title, .log {
  padding-bottom: 15px;
  border-bottom: 1px solid black;
}

/* DataCharts */
.chart-display div {
  margin: auto;
}

.chart-display div{
  overflow-x: auto;
}

/* User */
.user {
  margin: auto;
  height: 100vh;
  padding-top: 60px;
  width: 80%;
}

.user-section {
  padding: 15px 30px;
  text-align: center;
  margin: auto;
  border: 3px solid #636B46;
  width: 250px;
  height: 250px;
}

.user_name-title {
  color: #49274A;
  font-family: Halant;
}

h1 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.create-room-legend {
  font-size: 1.2em;
  margin: 8px 0;
}

.new-room-button {
  margin-top: 10px;
}

/* ExistingRooms */
.existing-rooms {
  text-align: center;
  margin: auto;
  padding-top: 10px;
  width: 250px;
}

.existing-rooms ul {
  list-style: none;
  padding: 0;
}

.existing-room-title {
  font-size: 1.2em;
  margin: 8px 0;
}

.existing-room-li {
  border: 1px solid black;
  padding: 5px;
  display: flex;
  min-height: 80px;
}

.existing-room-li a {
  font-size: 1.2em;
}

.room-div {
  text-align: center;
  margin: auto;
}

/* Add Data */
.add-data {
  margin: auto;
  padding-top: 200px;
  width: 80%;
}

.add-data-form {
  padding: 20px;
  text-align: center;
  margin: auto;
  border: 1px solid black;
  width: 500px;
  height: 500px;
}

.comments-textbox {
  height: 200px;
  width: 400px;
}

/* View Data */
.view-data {
  text-align: center;
  padding-top: 100px;
  min-height: 200px;
  margin: auto;
  width: 80%;
}

.view-data-table {
  margin: auto;
}

table, tr, th, td {
  border: 1px solid black;
  padding: 5px;
}

/* About  */
.about {
  margin: auto;
  padding-top: 50px;
  min-height: 200px;
  width: 80%;
}

.about h1 {
  font-size: 1.5em;
  margin-bottom: 25px;
}

/* Page-Not-Found */
.page-not-found-title {
  margin: auto;
  padding-top: 100px;
  min-height: 200px;
  width: 80%;
}


/* -------------------------------------
place all the desktop styles above this line
Responsive styles
(the very last module in the CSS, contains all the media queries and it is dealing with the compatibility with mobiles and tablets)
place all the mobile tables styles below this line
*/