/* -------------------------------------
CSS reset
Is a short set of CSS rules that resets the styling of all HTML elements to a consistent baseline so the website will look the same on all browsers
*/


* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Nunito-Sans;
  background-color: #E9E7DA;
  line-height: 1.5;
  /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
  box-sizing: border-box;
  /*reset Chrome user agent styles*/
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-before: 0px;
  -webkit-padding-after: 0px;
  -webkit-padding-start: 0px;
  -webkit-padding-end: 0px;
  /*reset Firefox user agent styles*/
  -moz-margin-before: 0px;
  -moz-margin-after: 0px;
  -moz-margin-start: 0px;
  -moz-margin-end: 0px;
  -moz-padding-before: 0px;
  -moz-padding-after: 0px;
  -moz-padding-start: 0px;
  -moz-padding-end: 0px;
  /*reset Internet Explorer user agent styles*/
  -ms-margin-before: 0px;
  -ms-margin-after: 0px;
  -ms-margin-start: 0px;
  -ms-margin-end: 0px;
  -ms-padding-before: 0px;
  -ms-padding-after: 0px;
  -ms-padding-start: 0px;
  -ms-padding-end: 0px;
  /*reset Opera user agent styles*/
  -o-margin-before: 0px;
  -o-margin-after: 0px;
  -o-margin-start: 0px;
  -o-margin-end: 0px;
  -o-padding-before: 0px;
  -o-padding-after: 0px;
  -o-padding-start: 0px;
  -o-padding-end: 0px;
}

/* -------------------------------------
General styles (General Module, wrapping around the modules below)
(the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules below (h2, h3, h4, h5, h6, p, a, ul, li))
*/

a {
  text-decoration: none;
  color: #49274A;
  /* color: #373F27;  */
  font-weight: 700;
}

li {
  list-style: none;
}

.strong {
  font-weight: 700;
}

input {
  border: 1px solid black;
  margin-bottom: 2px;
  background-color: white;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.title-style {
  font-family: Halant;
}

.center-align {
  text-align: center;
}

.form-title {
  text-align: left;
}

.error {
  font-size: .9em;
  color: red;
  text-align: center;
  border: 1px solid black;
}

button:hover {
  background-color: #373F27;
  color: white;
}

button {
  border-radius: 3%;
  font-family: Halant;
  background-color: #636B46;
  color: white;
  display: block; 
  margin: auto;
  padding: 6px 10px;
  font-size: 1.2em;
  border: 1px solid black;
  transition: .2s ease-in-out;
   -moz-transition: .2s ease-in-out;
   -webkit-transition: .2s ease-in-out;
}

/* -------------------------------------
Nav styles (Main Module)
(all the styles inside the < footer > or < nav > tags)
*/

/* Nav */
.nav {
  height: 45px;
  background-color: #CDA34F;
  text-align: center;
  position: fixed;
  padding: 6px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  border-bottom: 1px solid black;
}

.nav * {
  background-color: #CDA34F;;
}

.nav a {
  font-size: 1.2em;
  color: black;
}

.home-icon {
  font-size: 1.2em;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* -------------------------------------
Content styles (Main Module)
(all the styles inside the < sections > or < aside > tags)
*/

/* Landing */

.landing-title {
  font-size: 2em;
}

.landing-description {
  margin: auto;
  max-width: 350px;
  text-align: center;
  padding-bottom: 20px;
}

.landing {
  height: 100vh;
  margin: auto;
  padding-top: 20px;
  width: 80%;
}

/* LoginForm */
.login {
  font-size: .9em;
  padding: 20px;
  text-align: center;
  margin: auto;
  border: 3px solid #636B46;
  width: 250px;
  height: 340px;
}

.login-legend {
  font-size: 1.2em;
  margin: 8px 0;
}
.login-button {
  margin-top: 10px;
}

.login-info p:first-child {
  padding: 8px 0;
}

.login-info p:nth-child(3) {
  padding: 8px 0;
}


/* Registration */
.registration {
  font-size: .9em;
  height: 100vh;
  margin: auto;
  padding-top: 50px;
}

.registration-form {
  padding: 30px 15px;
  text-align: center;
  margin: auto;
  border: 3px solid #636B46;
  width: 300px;
  height: 420px;
}

.registration-legend {
  font-size: 1.2em;
  margin: 8px 0;
}

.registration-button {
  margin-top: 10px;
}

.registration-form p {
  padding: 8px 0;
}

.registration-table,
.registration-table td {
  width: auto;
  border: none;
}

.registration-table input {
  width: 120px;
}

.password-rules {
  padding: 8px 0;
}

/* Room  */
.room {
  height: 100vh;
  margin: auto;
  padding-top: 60px;
  width: 95%;
}

.room-name-title {
  color: #373F27;
}

.room-description {
  margin-bottom: 15px;
}

.flex-section {
  display: flex;
  flex-direction: column-reverse;
  margin: auto;
  width: 300px;
}

.right-div {
  width: 100%;
  text-align: center;
}

.right-div ul {
  margin: auto;
  text-align: left;
  width: 400px;
  list-style: none;
  padding: 20px;
  /* border: 1px solid black; */
}

.no-chart-data {
  width: 260px;
  height: auto;
  margin: 0px auto 10px;
  border-radius: 3px;
}

.data-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px 0;
}

.delete-room {
  margin: 30px auto 80px;
  color: white;
  background-color: #49274A;
}

.delete-room:hover {
  background-color: #AF473C;
}

.data-buttons button {
  margin: 0 15px;
}

/* Logbook */
.logbook {
  text-align: center;
  border: 1px solid black;
  border-radius: 3px;
  width: 80%;
  max-width: 400px;
  height: 100%;
  margin: auto;
}

.logbook-title {
  padding: 10px 0px;
  color: #373F27;
  font-size: 1.3em;
}

.logbook-title, .log {
  background-color: white;
  padding: 5px 5px 10px 5px;
  border-bottom: 1px solid black;
}

.log > * {
  background-color: white;
}

.no-data {
  font-size: 1.5em;
  margin: 100px 0;
}

/* DataCharts */
.chart-display div {
  margin: auto;
}

.chart-display {
  height: 300px;
}

.overflow {
  border: 1px solid black;
  overflow-x: scroll;
  overflow-y: hidden; 
}


/* User */
.user {
  margin: 0 auto 80px;
  height: 100vh;
  padding-top: 80px;
  width: 80%;
}

.user-section {
  padding: 15px 30px;
  text-align: center;
  margin: auto;
  border: 3px solid #636B46;
  width: 250px;
  height: 250px;
}

.user_name-title {
  color: #49274A;
  font-family: Halant;
}

h1 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.create-room-legend {
  font-size: 1.2em;
  margin: 8px 0;
}

.create-room-form input {
  width: 150px;
}

.new-room-button {
  margin-top: 10px;
}

/* ExistingRooms */
.existing-rooms {
  text-align: center;
  margin: auto;
  padding: 10px 0 80px 0;
  width: 250px;
}

.existing-rooms ul {
  list-style: none;
  margin: auto;
  width: 80%;
  padding: 0;
}

.existing-room-title {
  font-size: 1.2em;
  margin: 8px 0;
}

.existing-room-li {
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid black;
  padding: 5px;
  display: flex;
  min-height: 80px;
  background-color: white;
}

.room-div {
  text-align: center;
  margin: auto;
}

.room-div h3 {
  font-size: 1.2em;
  background-color: white;
}
.room-div p {
  color: black;
  background-color: white;
}

/* Add Data */

.add-data {
  margin: auto;
  padding-top: 80px;
  width: 300px;
}

.data-legend {
  font-size: 1.2em;
  margin: 8px 0;
}

.add-data-table,
.add-data-table td {
  border: none;
}

.add-data-form {
  font-size: .9em;
  padding: 20px;
  text-align: center;
  margin: auto;
  border: 3px solid #636B46;
  height: 450px;
}

table {
  table-layout: fixed;
  width: 250px;
}
.short-input input,
.short-input td {
  width: 50px;
}

.add-data-button {
  margin: 10px auto;
}

.comments-textbox {
  background-color: white;
  border: 1px solid black;
  height: 120px;
  width: 250px;
}

/* View Data */
.view-data {
  text-align: center;
  padding: 80px 0;
  min-height: 200px;
  margin: auto;
  width: 300px;
}

h2 {
  font-size: 1.2em;
  color: #373F27;
}

.inserted-data {
  border: 3px solid #373F27;
  background-color: white;
  border-radius: 3px;
  padding: 5px;
  margin: 10px 0;
}

.inserted-data-ul {
  margin: 5px auto;
}

.inserted-data-comments {
  text-align: left;
  padding: 5px;
}

.inserted-data h2,
.inserted-data p, 
.inserted-data li,
.inserted-data span {
  background-color: white;
}

.view-data-table {
  margin: auto;
}

table, tr, th, td {
  border: 1px solid black;
  padding: 5px;
}

.delete-data {
  margin: 5px auto;
  background-color: #49274A;
  color: white;
}

.delete-data:hover {
  background-color: #AF473C;
}

/* About  */
.about {
  text-align: center;
  margin: auto;
  padding-top: 60px;
  height: 100vh;
  width: 85%;
}

.about h1 {
  font-size: 1.5em;
  margin-bottom: 25px;
}

/* Page-Not-Found */
.page-not-found-title {
  margin: auto;
  padding-top: 100px;
  min-height: 200px;
  width: 80%;
}


/* -------------------------------------
place all the desktop styles above this line
Responsive styles
(the very last module in the CSS, contains all the media queries and it is dealing with the compatibility with mobiles and tablets)
place all the mobile tables styles below this line
*/

@media only screen and (min-width: 1000px) {
    /* '*' */

    .about,
    .room,
    .user,
    .add-data,
    .view-data {
      padding-top: 100px;
    }

    /* Nav */
    .nav {
      padding-top: 10px;
      border-top: none;
      height: 52px;
    }
  
  
    .nav-links {
      display: flex;
      justify-content: flex-start;
    }
  
    .left-nav {
      flex: 1;
      text-align: left;
    }
  
    .nav a {
      margin: 10px 50px;
      padding: 10px;
      border-radius: 5%;
      transition: .2s ease-in-out;
      -moz-transition: .2s ease-in-out;
      -webkit-transition: .2s ease-in-out;
    }
  
    .nav a:hover {
      color: #49274A;
    }

  /* Landing */

  .landing {
    padding-top: 100px;
  }

  /* Registration */

  .registration {
    padding-top: 100px;
  }

  /* About */
  .about {
    width: 500px;
  }

  /* Room */
  .room {
    padding-top: 70px;
  }

  .delete-room {
    margin-top: 0;
  }

  .flex-section {
    width: 90%;
    flex-direction: row;
  }

  .right-div {
    width: 50%;
    margin-left: 80px;
  }

  .logbook {
    width: 300px;
    margin: 0 20px;
  }

  .no-chart-data {
    width: 100%;
  }

  /* DataCharts */

  /* Page-Not-Found */
  .page-not-found-title {
    padding-top: 200px;
    font-size: 1.5em;
  }
}