* {
  box-sizing: border-box;
}

.about-title {
  text-align: center;
}

.about {
  margin: auto;
  padding-top: 100px;
  line-height: 1.5;
  min-height: 200px;
  width: 80%;
}

.back-button {
  display: block;
  margin: auto;
  font-size: 1.2em;
}