* {
  box-sizing: border-box;
}

.nav {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #aaa;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  padding: 0 5%;
}